/node_modules
/public/hot
/public/css/**
!/public/css/.hgkeep
/public/js/**
!/public/js/.hgkeep
/public/fonts/**
!/public/fonts/.hgkeep
/public/images/**
!/public/images/.hgkeep
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig